@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

@theme {
  --font-primary: "Sora", sans-serif;
  --breakpoint-3xl: 1920px;
  --color-grape: #CACE91;
  --color-bubble: #EDCDD1;
  --color-rose: #F4A4AB;
  --color-light-lavender: #E0E1F6;
  --color-resene: #F3EFE3;
  --color-bistre: #3D281C;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

:root {
  font-family: var(--font-primary);
  background-color: var(--color-resene);
}